*{
    margin: 0px;
    font-family: "inter";
}
#logo{
    margin: 100px 0px 25px 100px;
}
#menu1{
    margin-left: 180px;
   
}
#paragrafo1{
    margin-left: 180px;
    margin-top: 25px;
    padding-bottom: 100px;
}
#menusuperior{
    font-family: "inter";
    background-image: url(Imagens/fundopreto.svg);
    color: aliceblue;
}
#menuinformacional{
    background-color: #eaece5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    
}
.icones{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}
  .textoinformativo{
    display: flex;
    align-items: center;
    font-family: "inter";
  }

  #video{
    margin: 25px 15px 25px 100px;
  }
  #secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
  }
  #titulovideo{
    color: #247BA0;
    margin-top: 50px;      
  }
  #textovideo{
    font-family: "inter";
    margin-top: 50px;
  }
  #titulo-carrosssel{
    background-color: #247BA0;
    padding: 50px;
    color:white;
    text-align: center;
    font-size: 23px;
  
  }
  #carrossel{
   background-color: #247BA0;
   padding: 25px;
  }

  #div-cards{
    display: grid;
    grid-auto-flow: column;
    background-color: #247BA0;
   
 
  }

  .Cards{
   margin-bottom: 70px;
   margin-left: 35px;
  }

  #Bruna{
    display: none;
  }

  #seta-esquerda{
    display:none
  }
  .seta{
    margin-top: 55%;
    cursor: pointer;    
  }
.seta:hover{

  transform: translateY(-7px);
  transition-duration: 0.5s;
}

#formulario{

  text-align: center;
  padding: 50px;
  
}
#titulo-formulario{

  color: #383838;
  margin-bottom: 20px;

  }

  input{
    width: 300px;
    height: 10px;
    margin: 10px;
    background-color: #EAECE5;
    border-radius: 8px;
    padding: 20px;
    font-size: 16px;
    border: 0px;
    

  }
button{

  width: 300px;
  height: 50px;
  margin: 25px;
  background-color: #0d8ec6;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

button:hover{

  background-color: #0d8ec6;
  color: #FFFFFF;
  transform: translateY(-7px);
  box-shadow: 0px 15px 15px #053b53;
}
